/* ===== fonts ===== */

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/PublicSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/PublicSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ================== */

:root {

  /* Fonts */
  --font-title: 'Playfair Display', serif;
  --font-body: 'Public Sans', sans-serif;

  /* Background */
  --bg-main: #FFFAF6;

  /* UI Colors */
  --primary: #6EC1E4;
  --secondary: #E1C2C2;

  /* Buttons / Links */
  --cta: #3C8190;
  --cta-hover: #82B3BE;

  /* Typography */
  --heading: #7899B1;
  --text: #7E7160;
  --secondarytext: #fff;
  --blacktext: #222;
}

/* ===== reset ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-main);
  color: var(--text);
  overflow-x: hidden;
  /* font */
  font-family: var(--font-body);
  font-weight: 400;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  /* font */
  font-family: var(--font-body);
  font-weight: 400;
  color: var(--cta);
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

h1,
h2 {
  /* font */
  font-family: var(--font-title);
  font-weight: 700;
  color: var(--heading);
}

h3,
h4,
h5,
h6 {
  /* font */
  font-family: var(--font-body);
  font-weight: 700;
  color: var(--heading);
}

p {
  /* font */
  font-family: var(--font-body);
  font-weight: 400;
}

/* ================== */

/* ===== global styles ===== */

button,
.btn {
  font-family: var(--font-body);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.6rem;
  border-radius: 999px;
  border: none;
  background: var(--cta);
  color: var(--bg-main);
  font-weight: 500;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: all .25s ease;
}

.btn:hover {
  background: var(--cta-hover);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  color: var(--bg-main);
}

.btn:active {
  transform: translateY(0);
  box-shadow: none;
}

.btn-outline {
  background: transparent;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.6rem;
  border-radius: 999px;
  font-weight: 500;
  letter-spacing: 0.3px;
  cursor: pointer;
  transition: all .25s ease;
  border: 2px solid var(--cta);
  color: var(--cta);

}

.btn-outline:hover {
  border: 2px solid var(--cta-hover);
  background: var(--cta-hover);
  color: var(--bg-main);
}

/* ================== */

/* ===== navbar ===== */

.custom-navbar {
  background: #FFFAF6;
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.brand-wrapper {
  display: flex;
  align-items: center;
  gap: .6rem;
  text-decoration: none;
}

.brand-logo {
  height: 42px;
  width: auto;
}

.brand-text {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--heading);
  font-size: 2rem;
}

.nav-text,
.dropdown,
.dropdown-toggle,
.dropdown-menu,
.dropdown-item {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  color: var(--text) !important;
  font-size: 1.10rem !important;
}

.nav-text:hover,
.dropdown:hover,
.dropdown-toggle:hover,
.dropdown-menu:hover,
.dropdown-item:hover {
  color: var(--cta-hover) !important;
}

/* refuerzo para dropdown */
.dropdown-menu {
  color: var(--text) !important;
  border: none !important;
  background-color: var(--bg-main) !important;
}

/* refuerzo para los items */
.dropdown-item:focus {
  background-color: var(--bg-main) !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas {
  background: #FFFAF6;
}

.offcanvas .nav-link {
  font-size: 1.2rem;
  padding: .5rem 0;
}

@media (max-width: 426px) {

  .brand-text {
    font-size: 1.25rem;
  }

  .nav-text {
    font-size: .95rem;
  }

}

/* ================== */

/* ===== main: hero section ===== */

.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  background-image: url('../assets/img/img (5).webp');
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #4d4b4a55;
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: clamp(2.8rem, 5vw, 4rem);
  color: var(--heading);
  text-wrap-mode: nowrap;
}

.hero-subtitle {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-top: 1rem;
  color: var(--heading);
  text-wrap-mode: nowrap;
}

.hero-text {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.05rem;
  max-width: 520px;
  margin-top: 1rem;
  color: var(--secondarytext);
  text-wrap-mode: nowrap;
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-primary-custom {
  background: var(--cta);
  color: var(--bg-main);
  padding: .9rem 1.8rem;
  border-radius: 999px;
  text-decoration: none;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  transition: .25s;
}

.btn-primary-custom:hover {
  background: var(--cta-hover);
}

.btn-outline-custom {
  border: 2px solid var(--cta);
  color: var(--cta);
  padding: .9rem 1.8rem;
  border-radius: 999px;
  text-decoration: none;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  transition: .25s;
}

.btn-outline-custom:hover {
  background: var(--cta-hover);
  color: var(--bg-main);
  border: 2px solid var(--cta-hover);
}

@media (max-width:992px) {
  .hero-title {
    text-wrap-style: balance !important;
  }

  .hero-text {
    text-wrap-style: pretty !important;
  }

  .hero-subtitle {
    text-wrap-style: pretty !important;
  }
}

@media (max-width:768px) {

  .hero {
    text-align: center;
    padding: 4rem 0;
  }

  .hero-text {
    margin-inline: auto;
  }

  .hero-buttons {
    justify-content: center;
  }

}

/* ================== */

/* ===== main: section one ===== */

.section-one {
  background: #FFFAF6;
  padding: 6rem 0;
}

.section-one-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 2.8rem);
  color: #7899B1;
}

.section-one-card {
  background: #F6EDED;
  border-radius: 24px;
  padding: 3rem 2rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #C89A9A;
  margin-bottom: 2rem;
}

.card-text {
  font-family: 'Public Sans', sans-serif;
  color: #7E7160;
  max-width: 260px;
  margin: auto;
  font-size: 1.25rem;
}

@media (max-width:768px) {

  .section-one {
    padding: 4rem 1rem;
  }

  .section-one-card {
    padding: 2rem 1.5rem;
  }

}

.card-title.underline {
  position: relative;
  display: inline-block;
}

/* linea */
.card-title.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background: #C89A9A;
  transform-origin: left;
  animation: drawLine 3.5s ease-in-out infinite;
}

@keyframes drawLine {

  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  20% {
    transform: scaleX(1);
    opacity: 1;
  }

  80% {
    transform: scaleX(1);
    opacity: 1;
  }

  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

/* ===== sections: title / subtitle / eyebrown ===== */

.section-header {
  max-width: 720px;
  margin: auto;
}

.section-eyebrow {
  display: block;
  font-family: 'Public Sans', sans-serif;
  letter-spacing: 3px;
  font-size: .75rem;
  color: #C89A9A;
  margin-bottom: 1rem;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: clamp(2.3rem, 4vw, 3rem);
  color: #7899B1;
  font-weight: 700;
  font-size: 3rem;
}

.section-subtitle {
  font-family: 'Public Sans', sans-serif;
  color: #7E7160;
  margin-top: 1rem;
  font-size: 1.50rem;
}

/* ================== */

/* ===== main: experiencie section ===== */

.experience-section {
  background: #FFFAF6;
  padding: 7rem 0;
  border-top: 1px solid rgba(120, 153, 177, .08);
}

.experience-card {
  background: #F6EDED;
  border-radius: 20px;
  padding: 2rem;
  height: 100%;
  text-align: center;
  transition: all .3s ease;
}

.experience-card:hover {
  transform: translateY(-6px);
}

/* ===== CTA TERAPIAS ===== */

.cta-terapias {
  background: #F6EDED;
  border-radius: 28px;
  padding: 3rem;
  margin-top: 3rem;
}

.cta-terapias-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* TEXTO */
.cta-text {
  max-width: 600px;
}

.cta-title {
  font-family: var(--font-title);
  font-size: 2.2rem;
  margin: 0.5rem 0;
}

.cta-subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cta-list {
  font-size: 0.95rem;
  opacity: 0.8;
}

/* BOTONES */
.cta-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 220px;
}

/* ================================
   RESPONSIVE
================================ */

@media (max-width: 768px) {

  .cta-terapias-content {
    flex-direction: column;
    text-align: center;
  }

  .cta-actions {
    width: 100%;
    align-items: center;
  }

  .cta-actions a {
    width: 100%;
    max-width: 300px;
  }

}

/* ===== CTA LIBROS ===== */

.cta-libros {
  margin-top: 4rem;
}

.cta-libros-title {
  font-family: var(--font-title);
  font-size: 2.2rem;
  margin: 0.5rem 0;
}

.cta-libros-subtitle {
  font-size: 1.1rem;
  max-width: 600px;
  margin: auto;
}

/* CARD */
.cta-libros-card {
  margin-top: 3rem;
  background: linear-gradient(135deg, var(--cta), #2f6e7c);
  border-radius: 28px;
  padding: 2.5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.cta-libros-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* TEXTO */
.cta-libros-text h3,
.cta-libros-text p,
.cta-libros-title,
.cta-libros-subtitle,
.cta-libros .section-eyebrow {
  color: var(--bg-main);
}

.cta-libros-text h3 {
  font-family: var(--font-title);
}

/* BOTÓN */
.cta-libros-text .btn {
  background: var(--secondary);
  color: var(--blacktext);
  border: none;
  transition: all .3s ease;
}

.cta-libros-text .btn:hover {
  transform: scale(1.05);
}

/* IMAGEN */
.cta-libros-img {
  width: 200px;
}

.cta-libros-img img {
  width: 100%;
  border-radius: 16px;
}

/* ================================
   RESPONSIVE
================================ */

@media (max-width: 768px) {

  .cta-libros-content {
    flex-direction: column;
    text-align: center;
  }

  .cta-libros-img {
    width: 150px;
  }

}

/* ================== */

/* ===== terapias.html ===== */

.services-section {
  background: #FFFAF6;
  padding: 7rem 0;
}

.service-card-new {
  background: #F6EDED;
  border-radius: 24px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .3s ease;
}

.service-card-new:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.service-img {
  width: 100%;
  height: 220px;
  flex-shrink: 0;
}

.service-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.service-info h3 {
  font-family: var(--font-title);
  font-size: 1.6rem;
}

.service-benefit {
  font-size: 0.95rem;
}

.service-duration,
.service-type {
  font-size: 0.9rem;
  color: var(--text);
  font-weight: bold;
}

.service-price-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.service-price {
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 992px) {

  .service-card-new {
    flex-direction: row;
    min-height: 280px;
  }

  .service-img {
    width: 50%;
    height: auto;
  }

  .service-info {
    width: 50%;
    justify-content: center;
    padding: 2rem;
  }

  .service-price-container {
    flex-direction: row;
    justify-content: space-between;
  }

}

/* ================== */

/* ===== sobre-mi.html ===== */

.about-section {
  background: #FFFAF6;
  padding: 7rem 0;
}

.about-card {
  background: #F6EDED;
  border-radius: 20px;
  padding: 2rem;
  height: 100%;
  transition: all .3s ease;
}

.about-card:hover {
  transform: translateY(-6px);
}

.about-card h4 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.about-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 14px;
}

/* ================== */

/* ===== main: therapy section ===== */

.therapy-section {
  background: #FFFAF6;
  padding: 7rem 0;
  border-top: 1px solid rgba(120, 153, 177, .08);
}

/* ================== */